.content-body{
    background-image: url("../img/speaker_texture.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    flex: 1;
}
.app{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.blog-body{
    background-color: transparent;
    color:white;
}
.header-nav-right{
    padding-right: 25%;
}
.header-nav-item{
    padding-right: 3%;
    padding-left: 3%;
}
.header-nav-brand{
    padding-right:5%;
    padding-left:5%;
}
#home-content-container{
    color:white;
}