.content-body{
    background-image: url("../img/pexels-elina-krima-3311382.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    flex: 1;
}
.app{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}