.content-body{
    background-image: url("../img/speaker_texture.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    flex: 1;
}
.app{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.blog-body{
    background-color: transparent;
    color:white;
}